body{
  margin: 0;
}

.loginMain{
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
}

.input-row{
  display: flex;
  margin-bottom: 20px;

  .label{
    margin-right: 15px;

    p{
      padding: 0;
      margin-block-end: 0;
      margin-block-start: 0;
      color: white;
    }    
  }

  input{
    max-height: 25px;
    border-radius: 10px;
    border: none;
  }
}

.addButton{
  border-radius: 10px;
  background-color: #AAAAAA;
  width: 60px;
  height: 22px;
  padding: 3px;
  border: none;
}

.App {
  display: flex;
  /* text-align: center; */
  background-color: #E5E5E5;
}

.App-header {
  /* background-color: #282c34; */
  background-image: url("./assets/headerIMG.jpg");
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.mainBody{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #585858;

  .mainView{
    padding: 15px;
  }
}

.sideMenu{
  background-color: #585858;
  width: 300px;
  height: 100vh;
  border-right: 1px white solid;

  .sideUL {

    ul{
      padding-inline-start: 0;
    };

    li{
      list-style: none;
      margin-bottom: 25px;
      padding-left: 20px;
      font-size: 13px;

      img{
        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;
      }

      a{
        text-decoration: none;

        &:visited{
          color: white;          
        }

        &:hover{
          text-decoration: underline;
        }
      }
    }


  };

}

.sideInfo{
  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 90px;
  border-radius: 0 0 1rem 1rem;
  background-image: url("./assets/sideMenu.jpg");
  background-position: bottom;
  color: white;

  img{
    max-width: 35px;
    max-height: 35px;
    border-radius: 100%;
    margin-right: 20px;
  }

  h6{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
  }
}

.todolist{
  .headingInfo{
    text-align: center;

    h3{
      margin-block-start: 0;
      margin-block-end: 0;
      color: white;
      //opacity: 0.9;
    }
  }
  ul{
    padding-inline-start: 0;
    li{
      list-style: none;

      .todoItem{
        display: flex;
        justify-content: space-between;
        height: 35px;
        border-radius: 15px;
        border-bottom: 1px solid #a8a8a8;
        box-shadow: 0px 3px 5px grey;
        margin-bottom: 15px;
        padding: 15px;
        align-items: center;
        color: white;
        p{
          color: #cccccc;
          font-size: 10px;
          opacity: 0.61;
          margin-block-end: 0;
          margin-block-start: 0;
        }
      }
    }
  }
}

.loginMain{
  h2{
    margin-block-end: 0;
    margin-block-start: 0;
  }

  a{
    cursor: pointer;
  }
}